:root {
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --white: hsl(0, 0%, 100%);
  --very-dark-blue: hsl(235, 16%, 14%);
  --very-dark-mostly-black-blue: hsl(234, 17%, 12%);
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
}

.container {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    background-image: url('./assets//images/bg-stars.svg');
    background-color: var(--very-dark-blue);
}

.top {
    margin-top: 8rem;
    color: var(--white);
    letter-spacing: 0.4rem;
    font-size: 20px;
}

.center {
    margin-bottom: 8rem;
    width: 35rem;
    display: flex;
    justify-content: space-between;
}

.main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
}

.top-half-card {
    height: 5rem;
    width: 7rem;
    background-color: var(--dark-desaturated-blue);
    border-bottom: 0.5px solid black;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.counter-text {
    color: white;
    background: transparent;
    position: absolute;
    font-size: 4.5rem;
    top: 2.4rem;
    left: 1rem;
    color: var(--soft-red);
}

.bottom-half-card {
    height: 5rem;
    width: 7rem;
    background-color: var(--very-dark-mostly-black-blue);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.bottom-text {
    color: gray;
    font-size: 14px;
}

.bottom {
    width: 100%;
    height: 12rem;
    background-image: url('./assets/images/pattern-hills.svg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 15rem;
}